.kolla-gallery {
	display: flex;
	flex-wrap: wrap;
}

.kolla-gallery img {
	cursor: pointer;
	height: 100px;
	margin: 0.3rem;
}

.kolla-gallery img:hover {
	cursor: pointer;
	outline: 4px solid #bada55;
	outline-offset: 2px;
}
