.kolla-dimmer {
	position: fixed;
	top: 0;
	left: 0;
	height: 110%;
	width: 110%;
	background-color: black;
	opacity: 0;
	transition: opacity 400ms linear;
	pointer-events: none;
}
.kolla-dimmer.visible {
	opacity: 0.8;
}
.kolla-picture {
	position: fixed;
	opacity: 0;
	transition: opacity 400ms linear, transform 400ms linear;
	transform: scale(0,0);
	pointer-events: none;
}
.kolla-picture.visible {
	opacity: 1;
}
.kolla-sensor {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}